@model MarketWeb.Models.ViewModels.ContactUs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactUs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Names)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Names)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactUsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
